@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://www.puertovenecia.com/sites/default/files/styles/node_full/public/2020-10/pull_bear_3.jpg?itok=DJ8qr7bw" class="img-responsive"/>
    <h1>Sistema de Inventario Pull and Bear</h1>
    <p class="lead">Sistema de inventarios para la empresa Pull and Bear donde se vizualizaran las tablas y se dara un detalle determinado de los CRUDS de usuario, cliente, producto, producto_compra, producto_imagen, preveedor, roles, usuario rol y compra gestionadas.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Crear</h2>
        <p>
            Crear los registros para cada tabla de nuestro iventario Pull and Bear, es decir puedes crear un nuevo usuario, proveedor, cliente con sus respectivos datos personales.
            Tambien puedes crear nuevas compras, productos, productos compras, productos imagen, usuario rol, roles con su respectivos datos informativos.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Leer</h2>
        <p>
            Podras leer los registros de la tabla que desees.
            El propósito de esta función es la de recopilar registros específicos de las bases de datos que componen el desarrollo. Para ello, se utilizan diferentes filtros y palabras claves.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Actualizar</h2>
        <p> Podras actualizar y modificar la información de los registros que ya estaban en el iventario.</p>
    </div>
    <div class="col-md-3">
        <h2>Borrar </h2>
        <p> Al momento de incluir la opción de borrar en tu desarrollo es que le ofrezcas a los usuarios la posibilidad de hacer una eliminación temporal o permanente de los registros.</p>
    </div>
</div>