@model ProyectoASPWEB.Models.usuariorol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuariorol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @Html.Action("ListarUsuarioRol")
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.Action("ListarRol")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
