@model IEnumerable<ProyectoASPWEB.Models.usuario>

<select class="form-control" id="id_usuario" name="idUsuario">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
}
</select>
